@font-face{
  font-family: 'MyFuturisticFont';
  src:url('./Assets/Font/Myfont.otf')
}
body{
  font-family: 'MyFuturisticFont';
  margin:0;
  padding:0;
  height:100vh;
  overflow:hidden;
}
.App {
  text-align: center;
}
